<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Projekt Zespołowy 2012/13
    <% end %>
    </title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Projekt Zespolowy 2012/13</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Poniedziałek 14:00", "http://inf.ug.edu.pl"  %></li><!-- lista obecności -->
              <li><%= link_to "Poniedziałek 16:00", "http://tao.inf.ug.edu.pl"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span8">
          <% flash.each do |key, value| %>
          <div class='flash' id='<%= key %>'>
            <%= value %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Włodek Bzyl, 2012/2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
